.footer {
  background-color: #0d1117  ;
  color: #fff;
  padding: 50px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin: 20px 0;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-section p {
  font-size: 14px;
  color: #ddd;
  line-height: 1.5;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 8px 0;
}

.footer-section ul li a {
  color: #ddd;
  font-size: 14px;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #fff;
}

.email-box {
  display: flex;
  margin-top: 15px;
}

.email-box input {
  padding: 10px;
  width: 200px;
  border: none;
  outline: none;
}

.email-box button {
  background-color: #1d4ed8;
  color: white;
  border: none;
  padding: 10px 18px;
  cursor: pointer;
  font-weight: bold;
}

.footer-logo img {
  width: 60px;
  margin-top: 25px;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
}

.footer-bottom p {
  font-size: 14px;
  color: #999;
  margin-top: 10px;
}

.social-icons a {
  margin: 0 8px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #aaa;
}

/* Responsive */
@media(max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: left;
  }
}
